* {
    margin: 0;
    padding: 0;
}

main {
    position: relative;
    height: 100vh;
}

.header {
    position: fixed;
    height: 60px;
    padding: 30px;
    text-align: center;
    width: 100%;
    font-size: 50px;
    background: blue;
    color: white;
}

ul {
    list-style: none;
    padding: 150px 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

li {
    background: slateblue;
    color: white;
    border-radius: 15px;
    font-size: 25px;
    padding: 10px;
    margin: 10px 30px;
}

#form {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
}

#input {
    width: 100%;
    height: 50px;
    padding: 10px;
    font-size: 25px;
}

.submit {
    background: blue;
    color: white;
    padding: 10px 40px;
    border: 0;
    font-weight: bold;
}

.submit:hover {
    background: rgb(60, 60, 235);
    cursor: pointer;
}

.form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 100px);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30vw;
    gap: 20px;
    background: rgb(60, 60, 235);
    border-radius: 30px;
    padding: 30px;
}

.form-label {
    color: white;
    font-weight: bold;
    font-size: 25px;
    padding-top: 20px;
}

.form-input {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    font-size: 20px;
    border: 0;
    outline: none;
}

.form-button {
    background: goldenrod;
    color: white;
    border: 0;
    padding: 10px 30px;
    margin-top: 30px;
    font-weight: bold;
    border-radius: 10px;
    font-size: 25px;
    cursor: pointer;
}

.form-button:hover {
    background: orange;
}